*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

:root {
  --mRED: #d92837;
  --mYELLOW: #ffff66;
  --mGREEN: #21df80;
  --mBLACK: #3a1427;
}

a {
  transition: 0.5s ease-out;
  color: var(--mYELLOW);
  text-decoration: none;
}

a:hover {
  color: var(--mGREEN);
  text-decoration: underline;
}

body {
  display: flex;
  align-items: center;
  background-color: var(--mRED);
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  transition: all 0.5s ease-out;
  color: var(--mYELLOW);
  font-weight: 700;
  font-size: 192px;
  line-height: 192px;
  font-family: "IBM Plex Sans JP", sans-serif;
  writing-mode: vertical-rl;
}

h2 {
  transition: all 0.5s ease-out;
  color: var(--mYELLOW);
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  font-family: "IBM Plex Sans JP", sans-serif;
  writing-mode: vertical-rl;
}

h3 {
  transition: all 0.5s ease-out;
  color: var(--mYELLOW);
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  font-family: "IBM Plex Sans JP", sans-serif;
}

h4 {
  transition: all 0.5s ease-out;
  color: var(--mYELLOW);
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-family: "IBM Plex Sans JP", sans-serif;
}

h5 {
  transition: all 0.5s ease-out;
  color: white;
  font-weight: 700;
  font-size: 24px;
  font-family: "IBM Plex Sans JP", sans-serif;
}

h6 {
  transition: all 0.5s ease-out;
  margin-top: -1%;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: "IBM Plex Sans JP", sans-serif;
}

p {
  transition: all 0.5s ease-out;
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family: "IBM Plex Sans JP", sans-serif;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vh;
  padding: 5vh;
  width: 100%;
  min-height: 100vh;
}
.heading_Container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 20vh;
}
.headingIcon_Container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.headingIcon_Container img {
  width: 100%;
  height: auto;
  min-height: 10vw;
}
.headingMenu_Container {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
}
.headingMenu {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
.contentContact_Container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 800px;
}
.contentContact {
  display: flex;
  flex-direction: column;
  gap: 2vh 0vh;
}

.slide_Container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slide.active {
  opacity: 1;
}

.slideText {
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  z-index: 1;
}

/* Optional navigation slideNavs */
.slideNav_Container {
  display: flex;
  position: fixed;
  bottom: 5vh;
  justify-content: center;
  gap: 2.5vh;
  z-index: 2;
  width: 100%;
}

.slideNav {
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
}

.slideNav.active {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1200px) {
  .heading_Container {
    gap: 5vh;
    width: 15vh;
  }
  .headingIcon_Container {
    gap: 2.5vh;
  }

  h3 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 2.5vh;
  }
  .heading_Container {
    flex-direction: row-reverse;
    width: auto;
  }
  .headingIcon_Container {
    align-items: end;
  }
  .headingIcon_Container img {
    width: auto;
    height: 15vh;
  }
  .headingMenu_Container {
    align-items: start;
    padding: 0;
  }
  .contentContact {
    flex-direction: row;
    align-items: start;
    gap: 0vh 2vh;
  }
  .slideText {
    bottom: 2.5vh;
    left: 2.5vh;
  }
  .slideNav {
    opacity: 0;
    cursor: none;
  }
  h3 {
    writing-mode: vertical-rl;
  }
}
@media screen and (max-width: 500px) {
  .content {
    padding: 1vh;
  }
  .contentContact_Container {
    max-width: 100vw;
  }
  .headingMenu {
    gap: 5vh;
  }
  .headingIcon_Container img {
    width: auto;
    height: 10vh;
    min-height: 10vw;
  }
  .contentContact {
    gap: 0vh 1vh;
  }
  .slideText {
    bottom: 1vh;
    left: 1vh;
  }
}
