<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/main.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="page-transition" class="active"></div>
    {% block body %}{% endblock %}
    <script src="/static/gsap/gsap.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="/static/js/transitions.js"></script>
  </body>
</html>
