<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap"
  rel="stylesheet"
/>
<style>
  h1 {
    font-size: 64px;
    font-family: "Fuzzy Bubbles", cursive;
  }
  body {
    background-color: pink;
    color: #f666e0;
  }
  .zcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin: 200px;
  }
  .hoge {
    height: 500px;
  }
</style>

<div class="zcontainer"><%= image_tag "usakeigoo.png",class:'hoge' %></div>

<div class="container">
  <div class="content">
    <h1>Keigo</h1>
    <h3>Posts</h3>
    <%= link_to "新規Postへ", new_post_path %> <%= page_entries_info @posts %>
    <%= paginate @posts %>
    <div class="post-container">
      <% @posts.each do |t| %>
      <div class="post">
        <%= t.contents %> <%= t.title %>
        <a href="<%= t.url %>">詳細へ</a>
        <% if user_signed_in? %> <% if current_user.already_liked?(t) %> <%=
        button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
        <i class="fas fa-heart"></i><%= t.likes.count %> <% end %> <% else %>
        <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do
        %> <i class="far fa-heart"></i><%= t.likes.count %> <% end %> <% end %>
        <% else %> <i class="far fa-heart"></i><%= t.likes.count %> <% end %>
        <%= t.created_at %> <%#= link_to "詳細へ", post_path(t.id) %> <%=
        link_to "編集する", edit_post_path(t.id) %> <%= button_to "削除する",
        post_path(t.id), method: :delete %>
      </div>
      <% end %> <%= button_to 'ログアウト', destroy_user_session_path, method:
      :delete %>
    </div>
  </div>
  <div class="content"><%= image_tag "usakeigoo.png",class:'hoge' %></div>
</div>

<div class="container">
  <div class="content">
    <%= image_tag "usakeigoo.png",class:'hoge' %>
    <div class="content">
      <h1>Search</h1>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %> <%=
      text_field_tag :search %> <%= submit_tag '検索する' %> <% end %>
    </div>
  </div>
</div>
